body{
    margin: 0px;
    padding: 0px;
}
.main{
    height: 1150px;
    width: 800px;
    background-color: #ffff;
    justify-content: center;
    box-shadow: 5px 20px 10px 0px grey;
    margin: 20px auto;

}
.clearfix{
    clear: both;
}
.top-section{
  
    margin-top: 0px;
    background-color: hsl(48, 100%, 67%);
    text-align: center;
    padding: 20px;
    padding-top: 10px;

}
.image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 10px;
    border: 5px solid #000;
}
.name{
    font-size: 40px;
    font-weight: bold;
    color: #000;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.profession{
    font-size: 18px;
    color: #000;   
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
    padding-top: 0px;
}
.col1{
    width: 33%;
    float: left;
}

.col2{
    width: 67%;
    float: left;
    
}
.line{
    border-left: 1px solid #000;
    width: 2px;
    height: 600px;
    float : left;
    margin-top: 20px;
}
.content{
    padding: 10px; 
    margin: 0px;   
}
.title{
    font-size: 22px;
    font-weight: bold;
    color:  hsl(48, 100%, 67%);
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
.p1{
    color : #000;
    margin-bottom:  -5px;
}
.skills{
    margin-left: -20px;
    margin-bottom: 0px;
}
.skills li{
    color: #000;
}
.p3{
    color : #000;
    margin-bottom: 0px;
    font-weight: bold;
    padding-top: 0%;
    color:  hsl(48, 100%, 67%);
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;

}
p2{
    color : #000;
    margin-bottom: 0px;
    font-weight: bold;
}
.content2
{
    padding-left: 15px; 
    margin: 0px;   
}






                                      

